
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #2359a8;
  overflow: hidden;
}

/*HEADER STYLING*/

h5 {
  margin-top: 2000px;
}

header {
  min-height: 3em;
  width: 100%;
}

html:not([data-scroll="300px"]) header {
  position: fixed;
  top: 0;
  z-index: 1001;
  background: #2359a8;
  box-shadow: 0 5px 10px rgba(35, 88, 168, 0.507);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav_right {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav_left {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.menu {
  font-size: 13px;
}

.logo {
  margin-right: 50px;
  margin-left: 30px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.nav_item {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#nav {
  transition: 0.5s ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10001;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.social_top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 50px;
}

.icon {
  margin-left: 15px;
  height: 30px;
  width: 30px;
}






/*HERO STYLING*/
.hi_container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.hello {
  font-size: 40px;
  margin-bottom: 15px;
}

.sub_hi {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}





/* BUTTON STYLING*/

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}






/*WAVE STYLING*/

main .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(img/wave.png);
  background-size: 1000px 100px;
}

main .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

main .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

main .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

main .wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}




/*POOL RULES PAGE STYLING*/

.symbols {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;
}

.symbol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.icon {
  margin: auto;
  width: 85px;
  height: 85px;
}

.rule_head {
  margin-top: 10%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.rule_h {
  margin: 20px;
  color: #2359a8;
  font-size: 50px;
}

.hours {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2359a8;
  font-size: 20px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px 10px 70px;
  border-radius: 10px;
  box-shadow: 2 4 10px rgba(255, 255, 255, 0.1);
  width: 75%;
  margin: auto;
  background-color: white;
}

.guidelines {
  list-style: none;
  width: 75%;
  padding: 30px;
}

.guide {
  font-size: 18px;
  padding: 15px;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.rule_list {
  list-style: none;
  text-align: initial !important;
}

.rule {
  color: black;
  list-style: initial;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}

.rule_icon {
  color: black;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}







/*APPLICATION POPUP STYLING*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1000;
}
.modal-content {
  margin-top: 2%;
  height: 75%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 75%;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}






/*CONTACT POPUP STYLING*/

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1000;
}
.popup-content {
  margin-top: 2%;
  height: 50%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 50%;
  border-radius: 0.5rem;
}
.close {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close:hover {
  background-color: darkgray;
}

.reveal-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.officers {
  text-align: center;
  font-size: 25px;
  color: #2359a8;
}

.sub {
  font-size: 15px;
  text-align: center;
  margin: 15px;
  margin-bottom: 50px;
}

.names {
  text-align: center;
  font-weight: 600;
}

.sub_names {
  text-align: center;
  font-weight: 400;
  margin: 15px;
}




/*PAYMENT POPUP STYLING*/
/* 
.popup-pay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1000;
}
.popup-pay-content {
  margin-top: 2%;
  height: 50%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 50%;
  border-radius: 0.5rem;
}
.close-pay {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-pay:hover {
  background-color: darkgray;
}

.unhide-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} */








/*PRICING DETAILS STYLING*/

.table_container {
  margin-top: 10%;
  margin-bottom:5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper {
  width: 35%;
  border: 1px solid black;
  border-radius: 10px;
  height: 500px;
  min-height: 100%;
  text-align: center;
}

.plan {
  font-size: 25px;
  margin: 3%;
}

.blue {
  color: #2359a8;
  margin-bottom: 25px;
  font-weight: 800;
}

.description {
  margin-left: 15px;
  padding: 10px;
  text-align: initial;
}

.sub_key {
  margin-top:10%;
  font-weight: 600;
}

.price-app {
  margin: 50px;
  width: 75%;
}







/*MAIN PAGE GALLERY AND BODY STYLING*/

.gallery {
  margin-right: 5%;
}

.w3-animate-fading{
  animation:fading 5s infinite
}

@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.history {
  padding: 20px
}

.application {
  margin: 25px;
}

.directions {
  background-color: #2359a8;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.direct-script {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directions-p {
  font-size: 30px;
  text-align: center;
  margin: 15px;
}







